main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .search {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .filter {
            width: 25rem;
            height: 2.1rem;
        }
        .searchButton {
            height: 2.1rem;
            width: 5rem;
        }
    }
}